<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Post a Comment</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<%= render 'form', modal: true %>
