<div class="row">
  <div class="column">
    <%= comment.body %>
  </div>
  <% if user_signed_in? %>
    <div class="column">
      <%= link_to 'Delete', [comment.movie, comment],
        method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger my-2 my-sm-0' %>
    </div>
  <% end %>
</div>