@import "bootstrap";
@import '@fortawesome/fontawesome-free';

body { padding-top: 70px; }

.video-col {
  width: 29%
}

.details-col {
  width: 71%
}

p {
  margin-bottom: 0rem;
}

.buttons {
  float: right;
}
